/* .banner {} */

.container {
    width: 100%;
    height: 100%;
    position:relative;
    background-color: rgb(206, 224, 44);
    z-index: 0; /* Ensure the container has a base z-index */
}

/* Adding Styles for the Search Bar */
.search-wrapper{
    position: absolute; /* Absolute positioning to place it on the right */
    top: 0; /* Aligns to the top right corner */
    right: 10px; /* Aligns to the right */
    left:0.1;
    width: 300px; 
    height: 50px;
    display: flex;
    /* float:right; */
    flex-direction: column;
    gap:.25rem;
    z-index: 1000; /* Higher z-index to keep it above the map */

}

.building-cards{
    position: absolute; /* Absolute positioning to align under the search bar */
    top: 40px; /* Adjusted based on the height of your search bar */
    right: 10px; /* Aligns to the right */
    width: 300px; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /*controls how big we are going to let the search results take up the screen*/
    gap: .25rem;
    margin-top: 1rem;
    text-align: right; /* Aligns the content of each card to the right */
    z-index: 1000; /* Higher z-index to keep it above the map */
} 

  .card{
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
    text-align: right; /* Aligns the content of each card to the right */
  }

  .card > .header{
    margin-bottom: .25rem;
  }

  .card > .body{
    font-size: .8rem;
    color: #777;
  }

  .hide{
    display: none;
   }

/*Selected State of Card */
.card.selected {
    border-color: #007bff; /* Blue border for selected card */
    background-color: #f0f9ff; /* Light blue background for visibility */
}

/* moved from the index.html for the calculate route and buttons */
/* .container {
    position: relative;
    height: 100vh;
  } */

  .my-button-1 {
    position: absolute;
    bottom: 50px;
    right: 20px;
  }

  .my-button-2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
