.container {
    position: relative;
    height: 100vh;
}

.my-button-1 {
    position: absolute;
    bottom: 50px;
    right: 20px;
}

.my-button-2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.card {
    position: absolute;
    padding: 5px;
    background: 'pink';
    display: hidden;
    width: 100px;
    height: 300px;
}

/* styles.css */
#legend-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border: 1px solid #ccc;
    padding: 8px;
    width: 200px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.legend-content {
    display: none;
}

.toggle-button {
    background-color: #f8f8f8;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.legend-container.closed .legend-content {
    display: none;
}

.legend-container.open .legend-content {
    display: block;
}