.avoidStairs-container {
    padding: 0.2em 0.4em;
    color: white;
    background-color: #1a1a1a;
    border-radius: 8px;
    font-family: inherit;
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
}